gcp_bucket = ******"
csvfilename = "******.csv.gz"
md5filename = "******.csv.gz.md5"

[gcp_service_account]
type = "******"
project_id = "******"
private_key_id = "******"
private_key = "******"
client_id = "******"
auth_uri = "******"
token_uri = "******"
auth_provider_x509_cert_url = "******"
client_x509_cert_url = "******"